html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.web_kit-safari {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slick-prev:hover {
  color: #000 !important;
}
.slick-next:hover {
  color: #000 !important;
}
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
} */
.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.blob.red {
  background: #fff;
  box-shadow: 0px 6px 9px #2a32c5;
  animation: pulse-red 2s infinite;
  width: 65px;
  height: 65px;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 #2a32c5;
  }

  75% {
    box-shadow: 0px 0px 0px 20px rgb(63 81 181 / 50%);
  }

  100% {
    box-shadow: 0 0 0 0 #2a32c5;
  }
}
/* slick  */
/* .slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  color: red;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: '‹';
}
[dir='rtl'] .slick-prev:before {
  content: '›';
}

[dir='rtl'] .slick-next {
  left: -10px;
  top: 70px;
  right: auto;
}
.slick-next:before {
  content: '›';
}
[dir='rtl'] .slick-next:before {
  content: '‹';
} */
